* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.container {
    height: 485px;
    width: 380px;
    border: 4px solid green;
    border-radius: 17px;
    display: grid;
    grid-template-rows: 48px 1fr 48px;
}

.header {
    padding: 8px;
    background-color: green;
    text-align: center;
    align-content: center;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
}

.header #aboutDev{
    font-size: x-small;
}

.chatWindow {
    padding: 10px;
    background-color: rgb(242, 255, 240);
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: auto;
    max-height: 100%;
}

.bot-msg {
    padding: 8px;
    max-width: 260px;
    border: 1px solid rgb(174, 227, 245);
    border-radius: 12px;
    background-color: rgb(221, 244, 252);
    align-self: flex-start;
    height: auto;
    overflow-wrap: break-word;
}

.user-msg {
    padding: 8px;
    max-width: 260px;
    border: 1px solid rgb(174, 227, 245);
    border-radius: 12px;
    background-color: rgb(221, 244, 252);
    align-self: flex-end;
    height: auto;
    overflow-wrap: break-word;
}

.input {
    display: grid;
    grid-template-columns: 1fr 58px;
}

.input input {
    padding: 8px;
    border-bottom-left-radius: 12px;
    border: none;
    background-color: aliceblue;
}

.input button {
    border-bottom-right-radius: 12px;
    border: none;
    background-color: green;
}

.input button:hover {
    background-color: rgb(1, 99, 1);
}